<div class="wrapper">
    <div class="landing-header">
        <div class="container">
            <div class="motto">
                <h1 class="title-uppercase">Home Page</h1>
                <h3>Take your fabric stash with you wherever you go.</h3>
            </div>
        </div>
    </div>

    <div class="main" ng-controller="HomeController">
        <div class="section text-center landing-section">
            <div class="container">
                <div class="row">

                        <div ng-repeat="item in swatchList track by $index">
                            <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
                                <div class="hovereffect">
                                    <img class="img-responsive" ng-src="{{item.img.path}}" alt="Fabric Swatch">
                                    <div class="overlay">
                                        <p>
                                            Name<br />
                                            {{this.item.name}}<br />
                                            Collection: {{this.item.collectionz}}<br />
                                            Designer: {{this.item.designer}}<br />
                                            Manufacturer: {{this.item.manufacturer}}<br />
                                            Amount: {{this.item.amountYards}} yards | {{this.item.amountInches}} inches<br />
                                            Width: {{this.item.width}}<br />

                                            <!--Future Edit and Enlarge Image-->
                                            <i class="fa fa-pencil"></i>
                                            <i class="fa fa-search"></i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                </div>
            </div>
        </div>
    </div>
</div>
